# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/

# Node
node_modules/
dist/

# Env files
.env
.env.*

# IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini

